* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
}

body {
  text-align: center;
  background: #020a23 url('./Images/BGPattern.png') repeat right top;
  margin: 0;
  overflow: hidden;
}

header {
  display: inline-block;
  padding-top: 24px;
  width: 100%;
  height: 12%;
}

.container {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0;
  height: 88%;
  width: 100%;
}

.background-image-details {
  float: left;
  position: absolute;
  z-index: -1;
  max-width: 100%;
}

.stars {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clouds {
  left: 0;
  bottom: -500;
}

.hidden {
  opacity: 0;
}

/* mobile defaults */

.button-holder {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 100px;
}

button {
  background-color: #7aa53d;
  color: white;
  font-weight: 600;

  border-radius: 20px;
  width: 170px;
  height: 45px;

  border: none;
  border-bottom: 5px solid #23621e;

  cursor: pointer;
}

button:hover {
  height: 43px;
  border-bottom: 3px solid #23621e;
}

/* welcome page */

h1.welcome-title {
  display: inline-block;
  position: relative;
  max-width: 1400px;
  margin: 13% auto 0;
  font-size: 50pt;
  color: #12c8f6;
}

p.welcome-subtitle {
  color: white;
  font-family: 'courier new';
  margin-top: 9%;
}

h2 {
  margin: 0;
  bottom: 30px;
  position: relative;
  font-size: 32pt;
  color: #12c8f6;
}

/* question page */

form.js-question-form div.input-group {
  position: relative;
}

.question-image-holder {
  display: inline-block;
  max-height: 400px;
  max-width: 40%;
  border: 4px solid white;
  box-shadow: 0 0 0 20px #ffffff0d;
  border-radius: 5px;
  margin: 0 auto 30px;
  object-fit: cover;
  overflow: hidden;
}

.question-image-holder img {
  display: block;
  width: 100%;
  height: auto;
}

.answer {
  width: 100%;
  display: block;
}

.answer span {
  position: relative;
  right: 2px;
  display: inline-block;
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

.input-group {
  display: inline-block;
  margin: 10px 0;
  position: relative;
}

.input-group label {
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%,#7aa53d 50%);
    border-left: 5px solid white;
    padding: 12px 30px;
    width: 100%;
    border-radius: 5px;
    display: block;
    text-align: left;
    color: #3C454C;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    transition: border-left 0.3s, background-position 1s, color 1s;
}

.input-group input[type=radio] {
  all:unset;
}

.input-group label:hover {
  border-left: 5px solid #7aa53d;
}

.input-group input[type=radio]:checked ~ label {
  background-position: -100% 0;
  color: white;
  border-left: 5px solid #7aa53d;
}

/* Below than 1500 width */

@media only screen and (max-width: 1500px) {
  h1.welcome-title {
    font-size: 40pt;
  }
}

/* Below than 900 width */

@media only screen and (max-width: 900px) {
  h1.welcome-title {
    font-size: 24pt;
  }

  h2 {
    font-size: 20pt;
  }

  .question-image-holder {
    max-width: 100%;
  }

  .container {
    padding: 30px;
  }

  .answer {
    width: 90%;
    min-width: 0;
    min-height: 46px;
    height: auto;
    margin: 5px 0;
  }
}
